In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

#### TİME SERİES COVİD DEATHS ANALYSİS

df = pd.read_csv(r"dataset\time_series_covid_19_deaths.csv")

In [7]:
usa = df[df["Country/Region"]=="US"]

In [8]:
usa.drop("Country/Region",axis=1,inplace=True)

In [9]:
td_byprovince_usa = pd.DataFrame(usa.groupby("Province/State").sum()['3/14/20'])
td_byprovince_usa.columns = ["Total Deaths"]

In [10]:
td_byprovince_usa.sort_values("Total Deaths",ascending=False,inplace=True)
td_byprovince_usa.head()

                Total Deaths
Province/State
Washington                37
California                 5
Florida                    3
New York                   2
Louisiana                  1

In [11]:
td_byprovince_usa["Lat"] = np.nan
td_byprovince_usa["Long"] = np.nan

In [12]:
for province in td_byprovince_usa.index:
    temp=usa[usa["Province/State"]==province]
    td_byprovince_usa["Lat"][province] = temp["Lat"]
    td_byprovince_usa["Long"][province] = temp["Long"]

C:\Users\Pc\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Pc\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
temp_vis = td_byprovince_usa[td_byprovince_usa['Total Deaths']> 0]

In [15]:
temp_vis

                Total Deaths      Lat      Long
Province/State
Washington                37  47.4009 -121.4905
California                 5  36.1162 -119.6816
Florida                    3  27.7663  -81.6868
New York                   2  42.1657  -74.9481
Louisiana                  1  31.1695  -91.8678
Kansas                     1  38.5266  -96.7265
South Dakota               1  44.2998  -99.4388
New Jersey                 1  40.2989  -74.5210
Colorado                   1  39.0598 -105.3111
Virginia                   1  37.7693  -78.1700
Georgia                    1  33.0406  -83.6431